<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Viagens</title>
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5 text-center w-100" id="exampleModalLabel"> Site de Viagens </h1>
                </div>
                <div class="modal-body"> 
                    <ul>
                        <li class="d-flex justify-content-start align-items-center">
                            <svg class="svg-modal-list">
                                <use xlink:href="assets/img/icons/list.svg#list"></use>
                            </svg>
                            Ferramentas: PHP, CSS, JavaScript.
                        </li>
                        <li class="d-flex justify-content-start align-items-center">
                            <svg class="svg-modal-list">
                                <use xlink:href="assets/img/icons/list.svg#list"></use>
                            </svg>
                            Minha Função: Estudante de Análise e Desenvolvimento de Sistemas.
                        </li>
                        <li class="d-flex justify-content-start align-items-center">
                            <svg class="svg-modal-list">
                                <use xlink:href="assets/img/icons/list.svg#list"></use>
                            </svg>
                            Landing page de pacote de viagem
                        </li>
                    </ul>
                </div>
                <div class="modal-footer border-0">
                    <a type="button" data-bs-toggle="modal" class="btn">
                        <svg class="svg-modal">
                            <use xlink:href="assets/img/icons/close.svg#close"></use>
                            <span class="tooltip"> Fechar </span>
                        </svg>
                    </a>
                    <a type="button" data-bs-toggle="tooltip" title="Visitar o site" class="btn" onclick="showAlert()">
                        <svg class="svg-modal">
                            <use xlink:href="assets/img/icons/external-link.svg#external-link"></use>
                            <span class="tooltip"> Ir para o site </span>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

