<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanda Salgados</title>
</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5 text-center w-100" id="exampleModalLabel"> Vanda salgados </h1>
                </div>

                <div class="modal-body">
                    <li class="d-flex justify-content-start align-items-center">
                        <svg class="svg-modal-list">
                            <use xlink:href="assets/img/icons/list.svg#list"></use>
                        </svg>
                        Ferramentas :. HTML, CSS, Bootstrap, jquery .
                    </li>
                    <li class="d-flex justify-content-start align-items-center">
                        <svg class="svg-modal-list">
                            <use xlink:href="assets/img/icons/list.svg#list"></use>
                        </svg>
                        Minha Função :. Desenvolvedor (Web FreeLancer).
                    </li>
                    <li class="d-flex justify-content-start align-items-center">
                        <div>
                            <svg class="svg-modal-list">
                                <use xlink:href="assets/img/icons/list.svg#list"></use>
                            </svg>
                        </div>
                        <p class="d-flex flex-wrap"> Descrição: Site de vendas de salgados, aonde o cliente consegue
                            escolher o pedido e depois é redirecionado o pedido para o WhatsApp do fornecedor.</p>
                    </li>

                </div>
                <div class="modal-footer border-0">
                    <a type="button" data-bs-toggle="modal" class="btn">
                        <svg class="svg-modal">
                            <use xlink:href="assets/img/icons/close.svg#close">

                            </use>
                            <span class="tooltip"> Fechar </span>
                        </svg>
                    </a>
                    <a type="button" data-bs-toggle="tooltip" title="Visitar o site" class="btn" onclick="showAlert()">
                        <svg class="svg-modal">
                            <use xlink:href="assets/img/icons/external-link.svg#external-link">

                            </use>
                            <span class="tooltip"> Ir para o site </span>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>